*{margin:0;padding:0;box-sizing:border-box;}

body{font-family:Arial;}

/* NAVBAR */
.navbar{
position:sticky;
top:0;
display:flex;
justify-content:space-between;
padding:20px 60px;
background:black;
color:white;
}

/* HERO */
.hero{
display:flex;
height:100vh;
}

.hero-left{
width:50%;
background:#1d6fdc;
color:white;
padding:80px;
display:flex;
flex-direction:column;
justify-content:center;
}

.hero-right{
width:50%;
display:flex;
align-items:center;
justify-content:center;
background:#eef2ff;
}

.hero-right img{
max-width:400px;
height:auto;
}

/* BUTTON */
button{
padding:10px 20px;
margin-top:10px;
cursor:pointer;
}

/* SECTION */
.section{
padding:100px;
}

.dark{
background:#eee;
}

.long{
max-width:800px;
line-height:1.6;
}

/* GRID */
.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:20px;
}

.card{
background:white;
padding:20px;
border-radius:10px;
}
