body{
margin:0;
font-family:Arial;
background:#0f172a;
color:white;
}

/* HERO */
.hero{
display:flex;
height:100vh;
}

.hero-left{
width:50%;
background:linear-gradient(135deg,#1d4ed8,#3b82f6);
padding:80px;
display:flex;
flex-direction:column;
justify-content:center;
}

.hero-left h1{
font-size:50px;
}

.line{
width:60px;
height:5px;
background:white;
margin:20px 0;
}

.hero-right{
width:50%;
display:flex;
align-items:center;
justify-content:center;
background:#eef2ff;
}

.hero-right img{
max-width:90%;
height:auto;
border-radius:20px;
}

/* SECTION */
.section{
padding:100px;
opacity:0;
transform:translateY(50px);
transition:1s;
}

.section.show{
opacity:1;
transform:translateY(0);
}

.light{
background:#f1f5f9;
color:black;
}

/* GRID */
.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
}

/* CARD */
.card{
background:white;
color:black;
padding:20px;
border-radius:15px;
transition:0.3s;
}

.card:hover{
transform:translateY(-10px) scale(1.03);
}

/* BUTTON */
button{
padding:12px 20px;
border:none;
border-radius:10px;
cursor:pointer;
background:#2563eb;
color:white;
transition:0.3s;
}

button:hover{
transform:scale(1.05);
}

.outline{
background:transparent;
border:1px solid white;
}

.highlight{
background:gold;
}
